--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
gigachat==0.2.1
chromadb
curl_cffi
beautifulsoup4
streamlit-local-storage
openai
pytest
pytest-watch
plotly
upstash-redis>=1.0.0
requests>=2.31.0
torch
sentence-transformers
